* {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;    
    background-color: gray;
    font-size: 16px;
}
h1 {
    font-size: 1.75rem;
    display: inline-block;
}
h3 {
    margin-top: 5px;
}
p {
    text-indent: 3.061224%;
}

.header {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 1.020408%;
    text-align: center;
    position: relative;
}
.logo {
    position: absolute;
    width: 15%;
    height: 38px;
    left: 1.020408%;
    top: 50%;
    margin-top: -19px;
}
nav {

    display: inline-block;
}
nav ul {
    position: relative;
    list-style-type: none;
}

ul.first-ul>li { 
    float: left; 
}
ul a {
    font-size: 0.9rem;
    padding: 2px;
}
.second-ul {
    position: absolute;
    border: solid 2px black;
    border-radius: 5px;
    display: none;
    padding: 5px;
    left: 55px;
    top: 20px;
    background-color: white;
}
.menu:hover .second-ul {
    display: block;
}
.main {
    width: 100%;
    text-align: justify;  
    background-color: white;
    min-height: 220px;
    border-radius: 10px;
    padding: 1.020408%;  
}
footer {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
.test {
    padding: 0.510204%;
    margin: 1.020408%;    
    border: 2px solid black;
    border-radius: 5px;
    text-align: justify;
    
}
aside {
    font-family: Arial;
    font-size: 14px;
    text-align: justify;
    background-color: silver;
    border-radius: 10px;
    padding: 1.020408%;
    margin: 1.020408%;
}
#anchor {
    position: fixed;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: white;
    bottom: 10px;
    left: 5px;
}
#anchor:hover {
    background-color: lime;
}
dl {
    margin: 0;   
}
dd {
    margin-left: 3.061224%;
}
.main-calc {
    text-align: center;
    margin: auto;
}
.test-form {
    text-align: center;
}
td {
    background-image: linear-gradient(to bottom, #F5F5F5, #D3D3D3);
    border: 1px solid gray;
    padding: 0;
}
td input {
    width: 100%;
    background-color: transparent;
    padding: 5px 10px;
}
.text-area {
    width: 100%;
    padding:5px 10px;
    background-color: white;

}
.result-button {
    border: 1px solid;
    padding: 5px;
    margin: auto;
}
