/*
table {
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
}
.bl {
    background-color: blue;
}
.rd {
    background-color: red;
}
.td-one {
    border-radius: 25px 25px 0 0;
}
.td-seven {
    border-radius: 0 0 25px 25px;
}
.td-nine {
    border-radius: 0 25px 25px 0;
}
.td-eight {
    border-radius: 0 0 0 25px;
}
.td-two {
    border-radius: 25px 0 0 0;
}
.td-three {
    border-radius: 0 25px 25px 0;
}
.td-six {
    border-radius: 50%;
}
table {
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
}
.bl {
    background-color: blue;
}
.rd {
    background-color: red;
}
.td-one {
    border-radius: 25px 25px 0 0;
}
.td-seven {
    border-radius: 0 0 25px 25px;
}
.td-nine {
    border-radius: 0 25px 25px 0;
}
.td-eight {
    border-radius: 0 0 0 25px;
}
.td-two {
    border-radius: 25px 0 0 0;
}
.td-three {
    border-radius: 0 25px 25px 0;
}
.td-six {
    border-radius: 50%;
}
*/
            /*styles for list element*/
/* 
ul {
    width: 400px;
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 0;
    background-color: black;
    margin: auto auto;    
}
.first-li {
    background-color: #F00;
    margin: 0 20px;
}
.second-li {
    background-color: #FF0;
    margin: 0 40px;
}
.third-li {
    background-color: #0F0;
    margin: 0 60px;
}
.fourth-li {
    background-color: #0FF;
    margin: 0 80px;
}
.fifth-li {
    background-color: #00F;
    margin: 0 100px;
}
.sixth-li {
    background-color: #F0F;
    margin: 0 120px;
} 
*/

                /* Задание №1. Блочная верстка */
/*
 div {
    width: 15%;
    border: solid black 2px;
}
.second {
    float: left;
}
.first {
    float: right;
}
.third {
    float: right;
}
.fourth {
    float: left;
}
.fifth {
    float: right;
}
.sixth {
    float: left;
}
*/
                /* Задание №2. Блочная верстка */
/* 
.first {
    background-color: green;
    width: 20%;
    float: right;
}
.second {
    width: 80%;
    background-color: red; 
}
.third {
    background-color: green;    
    width: 20%;
    float: left;
}
.fourth {
    width: 80%;
    background-color: red;
    float: left;
} 
*/
                /* Задание №3. Вложенные плавающие блоки */
/*
* {
   color: white;   
}
.first {
    width: 20%;
    background-color: #F00;
    float: left;
}
.second {
    display: inline-block;
    width: 80%;
    background-color: #0F0;
}
.third {
    width: 25%;
    background-color: #00F;
    float: right;
}
.fourth {
    width: 75%;
    background-color: #000;

}
.fifth {
    float: right;
    width: 25%;
    background-color: #F0F;
}
.sixth {
    float: left;
    width: 25%;
    background-color: #0FF;
}
.seventh {
    width: 50%;
    background-color: #FF0;
    margin-left: 25%;
    margin-right: 25%;
}
*/
        /* Задание №4. Выравнивание колонок по высоте */    
/*
.first {
    width: 100%;
    background-color: red;
}
.second {
    width: 33%;
    float: left;
}
.third {
    width: 33%;
    float: right;
}
.fourth {
    width: 34%;
    background-color: white;
    display: inline-block;
}    
*/
            /* Задание №5. Свойство display */
/*             
span, div div {
    border: solid 2px black;
    width: 50px;
    height: 50px;
}            
.first {
    display: block;
}
.second {
    display: inline;
}
.third {
    display: inline-block;
}
*/
        /*Задание №6. Создание навигации*/

ul {
    list-style-type: none;
    padding-left: 10px;
}
li.first-li {
    margin: 5px;
    float: left;
}

a {
    width: 90px;
    display: block;
    padding: 8px;
    border: solid 2px black;
    text-decoration: none;
    text-align: center;
    color: white;
}
a.first {
    background-color: red;
}
.second {
    background-color: lime;
}
.third {
    background-color: blue;
}
*/