/*
table {
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
}
.bl {
    background-color: blue;
}
.rd {
    background-color: red;
}
.td-one {
    border-radius: 25px 25px 0 0;
}
.td-seven {
    border-radius: 0 0 25px 25px;
}
.td-nine {
    border-radius: 0 25px 25px 0;
}
.td-eight {
    border-radius: 0 0 0 25px;
}
.td-two {
    border-radius: 25px 0 0 0;
}
.td-three {
    border-radius: 0 25px 25px 0;
}
.td-six {
    border-radius: 50%;
}
table {
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
}
.bl {
    background-color: blue;
}
.rd {
    background-color: red;
}
.td-one {
    border-radius: 25px 25px 0 0;
}
.td-seven {
    border-radius: 0 0 25px 25px;
}
.td-nine {
    border-radius: 0 25px 25px 0;
}
.td-eight {
    border-radius: 0 0 0 25px;
}
.td-two {
    border-radius: 25px 0 0 0;
}
.td-three {
    border-radius: 0 25px 25px 0;
}
.td-six {
    border-radius: 50%;
}

/*styles for list element*/
/*
ul {
    width: 400px;
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 0;
    background-color: black;
    margin: auto auto;    
}
.first-li {
    background-color: #F00;
    margin: 0 20px;
}
.second-li {
    background-color: #FF0;
    margin: 0 40px;
}
.third-li {
    background-color: #0F0;
    margin: 0 60px;
}
.fourth-li {
    background-color: #0FF;
    margin: 0 80px;
}
.fifth-li {
    background-color: #00F;
    margin: 0 100px;
}
.sixth-li {
    background-color: #F0F;
    margin: 0 120px;
}

                /* Задание №1. Размеры */
/* div {
    width: 15%;
    border: solid black 2px;
}
.second {
    float: left;
}
.first {
    float: right;
}
.third {
    float: right;
}
.fourth {
    float: left;
}
.fifth {
    float: right;
}
.sixth {
    float: left;
}
*/
                /* Задание №2. Размеры. Граница */

/* .first {
    background-color: green;
    width: 20%;
    float: right;
}
.second {
    width: 80%;
    background-color: red; 
}
.third {
    background-color: green;    
    width: 20%;
    float: left;
}
.fourth {
    width: 80%;
    background-color: red;
    float: left;
} */
                /* Задание №3. Вложенные плавающие блоки */

.first {
    width: 20%;
    background-color: #F00;
    float: left;
}
.second {
    margin-left: 20%;
    width: 80%;
    background-color: #0F0;
    float: left;
}

.third {
    width: 35%;
    background-color: #00F;
    float: right;
}
.fourth {
    margin-right: 35%;
    width: 65%;
    background-color: #000;
}
.fifth {
    width: 35%;
    background-color: #F0F;
    float: right;
}
.sixth {
    width: 35%;
    background-color: #0FF;
}
.seventh {
    float: left;
    width: 35%;
    background-color: #FF0;
}